#card-1 {
    grid-column: 2 / span 3;
}
#card-2 {
    grid-column: 5 / span 3;
}
#card-3 {
    grid-column: 8 / span 3;
}


.gr-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: var(--sp-2);
}

#logo {
    grid-column: 2 / span 2;
}
#nav-items {
    grid-column: 8 / span 2;
}

#tag-line {
    grid-column: 2 / span 6;
}
#tag-line-mobile {
    grid-column: 1 / span 4;
}
#hero-about {
    grid-column: 2 / span 6;
    grid-row: 2;
    margin-bottom: var(--sp-6);
}

/* Responsive layout */
@media screen and (min-width: 714px) and (max-width: 1024px) {
    .gr-12 {
        grid-template-columns: repeat(8, 1fr);
    }
    #nav-items {
        grid-column: 5 / span 2;
    }
    #card-1 {
        grid-column: 2 / span 3;
    }
    #card-2 {
        grid-column: 5 / span 3;
    }
    #card-3 {
        grid-column: 2 / span 3;
        grid-row: 2;
    }

}

@media screen and (max-width: 714px) {
    .gr-12 {
        grid-template-columns: repeat(4, 1fr);
    }
    #nav-items {
        grid-row: 2 / span 1;
        grid-column: 2;
    }
    #card-1 {
        grid-column: 1 / span 4;
    }
    #card-2 {
        grid-column: 1 / span 4;
        grid-row: 2;
    }
    #card-3 {
        grid-column: 1 / span 4;
        grid-row: 3;
    }
    #tag-line {
        grid-column: 1 / span 4;
    }
    #hero-about {
        grid-column: 1 / span 4;
        grid-row: 2;
    }
    .menu-btn {
        grid-column: 4;
    }
    #logo {
        grid-column: 1 / span 2;
    }
}
