@import url("../css/typography.css");
@import url("../css/space.css");
@import url("../css/columns.css");
@import url("../css/elevation.css");
@import url("../css/color.css");
@import url("../css/motion.css");


html {
    margin: var(--sp-2);
    max-width: 1600px;
}

a {
    text-decoration: inherit;
    color: inherit;
    padding: var(--sp-2);
}
.body-full-w {
    grid-column: 3 / span 8;
}
.body-half-w {
    grid-column: 3 / span 4;
}
.body-half-w-r {
    grid-column: 7 / span 4;
}
.body-indent {
    grid-column: 4 / span 7;
}
button {
    text-decoration: none;
    color: var(--background);
    border: none;
    border-radius: 0.2rem;
    background-color: var(--accent);
    padding: 0.2rem 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.card {
    padding: var(--sp-4);
    margin: 0 0 2rem 0;
}
.card:hover {
    box-shadow: var(--ev-4);
    transform: scale(1.01);
}
#card-image-1 {
    background-image: url("../images/card-image-1.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 150px;
}
.margin-bottom-1 {
    margin-bottom: var(--sp-4);
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 10rem;
}
.nav-item {
    margin: 1rem;
}
.no-margins {
    margin: 0;
}
.section-head {
     grid-column: 3 /span 6;
 }


strong {
     font-weight: 400;
 }

#tag-line-mobile {
    display: none;
}

/* Responsive layout */
@media screen and (max-width: 714px) {
    #tag-line {
        display: none;
    }
    #tag-line-mobile {
        display: block;
    }
    #nav-items {
        display: none;
    }
    #resume-button {
        display: none;
    }

    .menu-btn {
        display: flex;
    }
}